%% -*- erlang -*-
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.

{port_specs, [
    {"priv/nfc", [
        "c_src/*.cc"
    ]}
]}.

{port_env, [
    {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Werror -O3 -I/usr/local/include/nfc"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
        "LDFLAGS", "$LDFLAGS -lstdc++ -lnfc"}
]}.


{eunit_opts, [
    verbose,
    {report, {
        eunit_surefire, [{dir,"."}]
    }}
]}.
